/*#root {
  width: 100%;
  color: #dfe4ec;
  background-color: #272a2f;
}*/

.case {
  display: flex;
  flex-direction: column;
  /*background: url("/statuenwoods4.webp"),
    linear-gradient(0deg, rgba(58, 86, 118, 0.2), rgba(58, 86, 118, 0.2)),
    linear-gradient(180deg, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.1) 100%),
    linear-gradient(254.12deg, #4e686c 0%, #5f7973 100%);
  background-blend-mode: hard-light;
  background-repeat: no-repeat;*/
  background: linear-gradient(
      0deg,
      rgba(58, 86, 118, 0.2),
      rgba(58, 86, 118, 0.2)
    ),
    linear-gradient(180deg, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0) 100%),
    linear-gradient(254.12deg, #4e686c 0%, #5f7973 100%);
  padding-top: 0.7rem;
}

.sectionSummary {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  /*max-width: 1568px;*/
  margin: 3rem auto;
  row-gap: 2.5rem;
  padding: 0 4rem 4rem 4rem;
}

.sectionCode {
  /*position: relative;*/
  width: 100%;
  /*max-width: 1568px;*/
  background: url("/darkstatuewoods.webp"),
    linear-gradient(180deg, #29373b 0%, #202a2c 100%);
  background-blend-mode: soft-light;
  background-repeat: no-repeat;
  margin: 0 auto;
  padding: 11rem 4rem 12rem 4rem;
}

.codenDescContainer {
  width: 100%;
  max-width: 1568px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  column-gap: 2rem;
}

.codeContainer {
  width: 70%;
  border: 6px solid #ffffff;
  box-shadow: 0px 2px 4px #0f181b, 0px 8px 16px rgba(22, 23, 23, 0.47);
  overflow: hidden;
  height: 750px;
  z-index: 2;
  border-radius: 20px 0 0 20px;
  /*border-radius: 20px;*/
  padding: 0.8rem;
  background-color: rgb(29, 31, 33);
}

.codeContainer::-webkit-scrollbar {
  width: 0.5rem;
  height: 90%;
}

/* Track */
.codeContainer::-webkit-scrollbar-track {
  background: #212526;
  height: 90%;
}

/* Handle */
.codeContainer::-webkit-scrollbar-thumb {
  background: #4f5d62;
  /*border-radius: 20px;*/
}

/* Handle on hover */
.codeContainer::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.descContainer {
  width: 30%;
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
}

.description {
  background: linear-gradient(
      0deg,
      rgba(255, 255, 255, 0.1),
      rgba(255, 255, 255, 0.1)
    ),
    linear-gradient(
      105.56deg,
      rgba(255, 255, 255, 0) 6.12%,
      rgba(255, 255, 255, 0.3) 50.59%,
      rgba(255, 255, 255, 0) 93.25%
    ),
    linear-gradient(
      180deg,
      rgba(255, 255, 255, 0) 0%,
      rgba(142, 163, 194, 0.3) 100%
    ),
    #d1d8e3;
  border-radius: 10px;
  height: fit-content;
  font-family: "Montserrat";
  font-weight: 500;
  font-size: 16px;
  line-height: 180%;
  color: #343b47;
  box-shadow: 0px 4px 8px rgba(21, 21, 20, 0.1),
    0px 4px 8px rgba(21, 22, 22, 0.3), 0px 8px 16px rgba(22, 23, 23, 0.47);
  overflow: hidden;
  border: 2px solid #4f6b71;
}

.descTitleContainer {
  background: linear-gradient(
      89.89deg,
      rgba(70, 76, 87, 0.9) 0.08%,
      rgba(34, 70, 75, 0.648) 99.91%
    ),
    linear-gradient(
      256.31deg,
      rgba(255, 255, 255, 0) 12.67%,
      rgba(255, 255, 255, 0.1) 42.14%,
      rgba(255, 255, 255, 0) 81.59%
    ),
    #5e757c;
  border-bottom: 3px solid #ffffff;
  width: 100%;
  height: 96px;
  font-family: "Oswald";
  font-weight: 700;
  font-size: 28px;
  letter-spacing: 0.08em;
  color: #dee2e6;
  display: flex;
  align-items: center;
  padding: 0 36px;
  justify-content: space-between;
}

.arrowsContainer {
  width: 72px;
  height: 36px;
  background: linear-gradient(
      89.89deg,
      rgba(70, 76, 87, 0.6) 0.08%,
      rgba(34, 70, 75, 0.432) 99.91%
    ),
    #e1e9f4;
  box-shadow: 0px 8px 16px rgba(22, 23, 23, 0.47);
  border-radius: 6px;
  margin-top: -3px;
  margin-right: -12px;
  display: flex;
  overflow: hidden;
}

.arrowLeft {
  width: 35px;
  height: 100%;
  background: none;
  border: 0;
  background: url("/icons/miniarrowleft.svg");
  background-repeat: no-repeat;
  background-position: 49% 50%;
  cursor: pointer;
}

.arrowLeft:hover {
  background: url("/icons/minilightarrowleft.svg"), rgba(32, 42, 44, 0.7);
  background-repeat: no-repeat;
  background-position: 49% 50%;
}

.arrowRight {
  width: 35px;
  height: 100%;
  background: none;
  border: 0;
  background-image: url("/icons/miniarrowright.svg");
  background-repeat: no-repeat;
  background-position: 51% 50%;
  cursor: pointer;
}

.arrowRight:hover {
  background: url("/icons/minilightarrowright.svg"), rgba(32, 42, 44, 0.7);
  background-repeat: no-repeat;
  background-position: 51% 50%;
}

.arrowsContainer_lightsep {
  width: 1px;
  height: 100%;
  background-color: #a6b3bc;
}

.arrowsContainer_darksep {
  width: 1px;
  height: 100%;
  background-color: #5d6f78;
}

.descBody {
  padding: 36px;
}

.descTagsContainer {
  display: flex;
  flex-wrap: wrap;
  flex-shrink: 1;
  flex-direction: row;
  gap: 1.2rem 1rem;
}

.descTags {
  font-family: "Montserrat";
  font-style: italic;
  font-weight: 700;
  font-size: 16px;
  color: #9ba7ab;
  height: 48px;
  padding: 12px 24px 9px 24px;
  background: linear-gradient(
      89.89deg,
      rgba(70, 76, 87, 0.6) 0.08%,
      rgba(34, 70, 75, 0.432) 99.91%
    ),
    #4f5d62;
  box-shadow: 0px 8px 16px rgba(22, 23, 23, 0.47);
  border-radius: 6px;
}

.caseBg {
  width: 100%;
}

.caseBg img {
  display: block;
  width: 100%;
  max-height: 50vh;
  object-fit: cover;
  opacity: 0.9;
  /*mix-blend-mode: overlay;*/
}

footer {
  height: 15vh;
  width: 100%;
  background: linear-gradient(180deg, #29373b 0%, #202a2c 100%);
}

@media screen and (max-width: 1500px) {
  .codenDescContainer {
    flex-direction: column-reverse;
    gap: 3rem;
  }

  .descContainer {
    flex-direction: row;
    width: 100%;
    gap: 1.5rem;
  }

  .descTagsContainer {
    align-items: flex-end;
    height: min-content;
    justify-content: flex-end;
  }

  .description {
    width: 60%;
    flex-shrink: 0;
  }

  .codeContainer {
    width: 100%;
  }
}

@media screen and (max-width: 1000px) {
  .sectionSummary {
    padding: 0 2rem;
  }

  .sectionCode {
    padding: 3rem 2rem 3rem 2rem;
  }
}

@media screen and (max-width: 800px) {
  .description {
    width: 100%;
    flex-shrink: 0;
  }

  .descContainer {
    flex-direction: column;
  }

  .descTagsContainer {
    align-items: flex-start;
    justify-content: flex-start;
  }
}

@media screen and (max-width: 550px) {
  .sectionSummary {
    padding: 0;
  }

  .codeContainer {
    border-radius: 0;
  }
}
