header {
  width: 100%;
  padding: 0 4rem;
}

.headerBody {
  width: 100%;
  max-width: 1568px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transform: translateY(-50px);
  opacity: 0;
  animation: 0.35s ease-out forwards header;
}

@keyframes header {
  0% {
    opacity: 0;
    transform: translateY(-50px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

.socialItems {
  height: 4rem;
  display: flex;
  align-items: flex-end;
  column-gap: 3rem;
}

.socialItems img {
  width: 24px;
  opacity: 0.8;
}

@media screen and (max-width: 700px) {
  header {
    padding: 0 2rem;
  }

  .socialItems {
    column-gap: 1.5rem;
  }

  .linkedin {
    display: none;
  }
}
