nav {
  font-family: "Oswald", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.1em;
  /*opacity: 0.7;*/
  height: 3.5rem;
  display: flex;
  align-items: flex-end;
  width: 100%;
  max-width: 1568px;
  margin: 0 auto;
}

nav a:any-link {
  color: #dfe4ec;
}

nav ul {
  display: flex;
  column-gap: 60px;
  list-style-type: none;
  padding: 0;
  margin: 0;
}
