.resumeContainer {
  width: 100%;
  background: #e5e5e6;
  box-shadow: 0px 4px 8px rgba(58, 67, 68, 0.6),
    0px 8px 16px rgba(59, 73, 75, 0.6), 0px 16px 32px rgba(62, 84, 89, 0.8);
  border-radius: 20px;
  padding: 2.5rem 0 4rem 0;
  border: 9px solid #8a7c58;
  max-width: 1568px;
  margin: 3rem auto 5rem auto;
  display: flex;
  flex-direction: row;
  /*justify-content: space-between;*/
  color: #5a5f6a;
  font-weight: 600;
  font-size: 20px;
  /*overflow: hidden;*/
}

.resumeContainer ul {
  display: flex;
  flex-direction: column;
  gap: 2rem 3rem;
  width: 50%;
}

.titleLines {
  display: flex;
  flex-direction: row;
  color: #343b47;
  padding: 1rem 0;
  gap: 3rem 0;
  align-items: center;
  overflow: hidden;
  font-family: "Oswald";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  opacity: 0.9;
  margin-left: -4px;
}

.resumeLines {
  display: flex;
  flex-direction: row;
  background: linear-gradient(
    89.89deg,
    #464c57 0.08%,
    rgba(34, 70, 75, 0.72) 99.91%
  );
  color: #ebf5f5;
  padding: 1rem 0;
  gap: 3rem 0;
  align-items: center;
  overflow: hidden;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.25), 0px 4px 8px rgba(0, 0, 0, 0.25);
}

.odd {
  background: linear-gradient(
    89.89deg,
    #648f9d 0.08%,
    rgba(94, 117, 124, 0.72) 99.91%
  );
}

.yearResume,
.titleBlank {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 160%;
  width: 200px;
  display: flex;
  justify-content: center;
  color: #ffffff;
  text-shadow: 0px 2px 4px #466c77, 0px 4px 8px #65808a;
  transform: translateX(-170px);
  flex-shrink: 0;
}

.oddShadows {
  text-shadow: 0px 2px 4px #1d363e, 0px 4px 8px #33474e;
}

@keyframes yearresume {
  from {
    transform: translateX(-170px);
  }
  to {
    transform: translateX(0px);
  }
}

.jobResume {
  line-height: 160%;
  margin-top: 4px;
  transform: translateY(-100px);
  padding-right: 2ch;
  /*animation: 0.4s ease-out forwards jobresume;*/
}

@keyframes jobresume {
  from {
    transform: translateY(-100px);
  }
  to {
    transform: translateY(0px);
  }
}

.resumeContainer ul span {
  font-style: italic;
  font-weight: 500;
  font-size: 16px;
  display: block;
  margin-top: 8px;
}

.separatorResume {
  width: 2rem;
}

.skillsContainer {
  width: 100%;
  padding: 2.5rem 0 4rem 0;
  max-width: 1568px;
  margin: 0 auto 5rem auto;
  display: flex;
  flex-direction: row;
  gap: 0 90px;
}

.skillColumn {
  flex: 1 1 33%;
  gap: 48px;
  display: flex;
  flex-direction: column;
}

.skillHead {
  border: 6px solid #ebf5f5;
  width: 100%;
  height: 360px;
  border-radius: 20px;
  font-family: "Oswald";
  font-weight: 700;
  font-size: 32px;
  letter-spacing: 0.04em;
  color: #ebf5f5;
  display: flex;
  align-items: flex-end;
  padding: 1.5rem;
  box-shadow: 0px 4px 8px rgba(58, 67, 68, 0.6),
    0px 8px 16px rgba(59, 73, 75, 0.6), 0px 16px 32px rgba(62, 84, 89, 0.8);
  max-width: 550px;
}

.url1 {
  background: url("/skillhead1.webp");
}

.url2 {
  background: url("/skillhead2.webp");
}

.skillList {
  background: linear-gradient(180deg, #627c80 0%, rgba(98, 124, 128, 0) 100%),
    #4c6569;
  border: 3px solid #6d878a;
  filter: drop-shadow(0px 4px 8px rgba(58, 67, 68, 0.6))
    drop-shadow(0px 8px 16px rgba(59, 73, 75, 0.6))
    drop-shadow(0px 16px 32px rgba(62, 84, 89, 0.8));
  border-radius: 20px;
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 1rem;
  letter-spacing: 0.1em;
  color: #ebf5f5;
  width: 80%;
  margin-left: auto;
  overflow: hidden;
}

.skillList li {
  height: 3rem;
  display: flex;
  align-items: center;
  padding: 0 1.5rem;
}

.skillList :nth-child(2n) {
  background: linear-gradient(
      90deg,
      #464c57 0.08%,
      rgba(34, 70, 75, 0.72) 99.91%
    ),
    #4c6569;
}

@media screen and (max-width: 1350px) {
  .skillsContainer {
    gap: 0 48px;
  }
}

@media screen and (max-width: 1250px) {
  .separatorResume {
    display: none;
  }

  .resumeContainer {
    flex-direction: column;
    row-gap: 6rem;
  }

  .resumeContainer ul {
    width: 100%;
  }

  .skillsContainer {
    flex-direction: column;
    gap: 48px;
  }

  .skillColumn {
    flex-direction: row;
  }

  .skillList {
    height: fit-content;
  }
}

@media screen and (max-width: 800px) {
  .skillColumn {
    flex-direction: column;
  }
  .skillHead {
    width: 100%;
    max-width: 550px;
  }
  .skillList {
    width: 100%;
    max-width: 100%;
    margin-left: 0;
  }
}

@media screen and (max-width: 750px) {
  .yearResume,
  .titleBlank {
    font-size: 32px;
    width: 160px;
  }

  .jobResume {
    font-size: 16px;
  }
}

@media screen and (max-width: 650px) {
  .yearResume,
  .titleBlank {
    width: 140px;
  }
}

@media screen and (max-width: 550px) {
  .resumeContainer {
    margin: 0;
    border-radius: 0;
    background: none;
    box-shadow: none;
    padding: 2rem 1rem 3rem 1rem;
    border: 0;
    row-gap: 3rem;
  }

  .resumeContainer ul {
    gap: 1.25rem 0rem;
  }

  .resumeContainer li {
    box-shadow: 0 6px 6px rgba(0, 0, 0, 0.2);
    border-radius: 6px;
  }

  .titleLines {
    display: flex;
    align-content: center;
    justify-content: center;
    padding: 1.5rem 0;
    background-color: #fff;
    font-size: 24px;
    width: 100%;
    margin: 0;
  }

  .titleBlank {
    display: none;
  }

  .separatorResume {
    display: none;
  }

  .skillHead {
    border-radius: 0;
    border: 0;
    height: 250px;
    border-top: 3px solid #e5e5e6;
    border-bottom: 3px solid #e5e5e6;
  }
  .skillList {
    border-radius: 0;
    border: 0;
  }

  .skillsContainer {
    margin: 0 auto;
  }
}
