#root {
  /*max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;*/
  width: 100%;
  text-align: center;
  background-color: #272a2f;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

.hero {
  position: relative;
  height: 100vh;
  width: 100%;
  overflow: hidden;
  background: linear-gradient(
      0deg,
      rgba(58, 86, 118, 0.2),
      rgba(58, 86, 118, 0.2)
    ),
    linear-gradient(180deg, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0) 100%),
    linear-gradient(254.12deg, #4e686c 0%, #5f7973 100%);
}

.statue {
  height: 85%;
  position: absolute;
  right: 0;
  bottom: 0;
}

.ellipse {
  height: 85%;
  position: absolute;
  right: 0;
  bottom: 0;
  transform: translateX(100px);
}

.works {
  width: 100%;
  padding: 6px 0;
}

.works img {
  width: 100%;
  margin: 0;
  outline: solid 2px #272a2f;
  outline-offset: -2px;
}

@keyframes logo-spin {
  from {
    transform: translateX(100px) rotate(0deg);
  }
  to {
    transform: translateX(100px) rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }

  .ellipse {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
