#root {
  width: 100%;
  color: #dfe4ec;
  background-color: #272a2f;
}

.App {
  background: linear-gradient(
      0deg,
      rgba(58, 86, 118, 0.2),
      rgba(58, 86, 118, 0.2)
    ),
    linear-gradient(180deg, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0) 100%),
    linear-gradient(254.12deg, #4e686c 0%, #5f7973 100%);
}

.sectionHero {
  position: relative;
  display: flex;
  flex-direction: column;
  /*height: 900px;*/
  width: 100%;
  overflow: hidden;
  padding: 0 4rem 4rem 4rem;
  /*padding: 0 64px;*/
}

.heroContainer {
  width: 100%;
  max-width: 1568px;
  margin: 0 auto;
}

.heroContainer .fonction {
  font-family: "Montserrat";
  font-weight: 500;
  font-size: 32px;
  line-height: 100%;
  margin-top: 96px;
}

.heroContainer .identite {
  font-family: "Oswald";
  font-weight: 700;
  font-size: 128px;
  line-height: 100%;
  margin-top: 48px;
  margin-left: -5px;
}

.heroContainer .text {
  font-family: "Montserrat";
  font-weight: 500;
  font-size: 20px;
  line-height: 200%;
  width: 40%;
  margin-top: 48px;
}

.heroContainer .recentWork {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 16px 80px;
  gap: 6px;
  background: #dfe4ec;
  /*background: linear-gradient(
      105.56deg,
      rgba(255, 255, 255, 0) 6.12%,
      rgba(255, 255, 255, 0.7) 50.59%,
      rgba(255, 255, 255, 0) 93.25%
    ),
    linear-gradient(
      180deg,
      rgba(255, 255, 255, 0) 0%,
      rgba(142, 163, 194, 0.6) 100%
    ),
    #d1d8e3;*/
  font-family: "Oswald";
  font-weight: 400;
  font-size: 24px;
  /*color: #485a56;*/
  color: #80724e;
  border-radius: 10px;
  /*border: 6px solid #86979a;*/
  border: 6px solid #8a7c58;
  box-shadow: rgba(50, 50, 93, 0.35) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.4) 0px 30px 60px -30px;
  margin-top: 72px;
  cursor: pointer;
}

.heroContainer blockquote {
  font-weight: 400;
  font-size: 16px;
  line-height: 200%;
  color: #dfe4ec;
  opacity: 0.7;
  margin-top: 130px;
}

.statue {
  height: 85%;
  /*width: 32%;*/
  position: absolute;
  right: 0;
  bottom: 0;
  /*transform: translateX(800px) translateY(800px);
  animation: 0.4s ease-out forwards statue;*/
}

@keyframes statue {
  from {
    transform: translateX(800px) translateY(800px);
  }
  to {
    transform: translateX(0px) translateY(0px);
  }
}

.buste {
  height: 50%;
  position: absolute;
  margin: 0 auto;
  text-align: center;
  left: 5%;
  right: 0;
  bottom: 10%;
}

.ellipse {
  height: 85%;
  /*width: 43%;*/
  position: absolute;
  right: 0;
  bottom: 0;
  transform: translateX(100px);
  opacity: 1;
  /*transition: 5s ease-out forwards ellipse-opacity;*/
}

@keyframes ellipse-opacity {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.sectionResume {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  overflow: hidden;
  padding: 0 4rem;
  background: linear-gradient(
      180deg,
      rgba(61, 81, 87, 0) 0%,
      rgba(61, 81, 87, 0.648) 100%
    ),
    #628282;
  border-top: 9px solid #272a2f;
  border-bottom: 3px solid #272a2f;
  overflow: hidden;
  max-height: 6rem;
  /*transition: max-height 0.6s ease-in-out;*/
  /*animation: 0.6s ease-out forwards dropResume;*/
}

.sectionResumeFull {
  /*max-height: 200vh;*/
  animation: 0.8s ease-out forwards dropResume;
}

@keyframes dropResume {
  0% {
    max-height: 6rem;
  }
  99% {
    max-height: 200vh;
  }
  100% {
    max-height: fit-content;
  }
}

.dropResume {
  width: 400px;
  height: 3.5rem;
  background: #567070;
  box-shadow: inset 0px -8px 16px rgba(62, 85, 85, 0.54);
  border-radius: 0px 0px 40px 40px;
  border: 0;
  font-family: "Oswald";
  font-weight: 700;
  font-size: 32px;
  color: #e5e5e5;
  text-shadow: 0px 4px 8px #3b5353;
  margin: 0 auto;
  flex-shrink: 0;
  padding-bottom: 4px;
  outline: 2px solid #749393;
}

.sectionCaseStudies {
  width: 100%;
  background: url("/statuenwoods4.webp"),
    linear-gradient(0deg, rgba(58, 86, 118, 0.2), rgba(58, 86, 118, 0.2)),
    linear-gradient(180deg, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.1) 100%),
    linear-gradient(254.12deg, #4e686c 0%, #5f7973 100%);
  background-blend-mode: hard-light;
  padding: 0 4rem;
}

.caseStudiesBody {
  display: flex;
  width: 100%;
  max-width: 1568px;
  margin: 0 auto;
  flex-direction: column;
  row-gap: 3rem;
  padding: 4rem 0;
  align-items: flex-end;
}

.sectionCaseStudies .caseContainer {
  display: flex;
  flex-direction: column;
  width: 60%;
  /*height: 348px;*/
  background: linear-gradient(
      105.56deg,
      rgba(255, 255, 255, 0) 6.12%,
      rgba(255, 255, 255, 0.8) 50.59%,
      rgba(255, 255, 255, 0) 93.25%
    ),
    linear-gradient(
      180deg,
      rgba(255, 255, 255, 0) 0%,
      rgba(142, 163, 194, 0.6) 100%
    ),
    linear-gradient(0deg, #d1d8e3, #d1d8e3),
    radial-gradient(
      53.49% 56.06% at 88.19% 8.17%,
      rgba(255, 255, 255, 0.2) 0%,
      rgba(255, 255, 255, 0) 100%
    ),
    rgba(255, 255, 255, 0.1);
  box-shadow: 0px 4px 8px rgba(21, 21, 20, 0.1),
    0px 4px 8px rgba(21, 22, 22, 0.3), 0px 8px 16px rgba(22, 23, 23, 0.47);
  backdrop-filter: blur(8px);
  color: #484e59;
  padding: 1.6rem 2rem 2rem 2rem;
  /*border: 12px solid #86979a;*/
  border: 9px solid #8a7c58;
  border-radius: 20px;
}

.caseTitle {
  font-family: "Oswald";
  font-weight: 700;
  font-size: 32px;
  line-height: 160%;
}

.digit {
  position: absolute;
  right: 2rem;
  top: 4rem;
  font-family: "Playfair Display";
  font-weight: 700;
  font-size: 168px;
  opacity: 0.3;
}

.viewCaseButton {
  position: absolute;
  width: 108px;
  height: 108px;
  background: radial-gradient(
      48.61% 48.61% at 14.81% 8.33%,
      rgba(255, 255, 255, 0.2) 0%,
      rgba(255, 255, 255, 0) 100%
    ),
    radial-gradient(
      104.63% 104.63% at 60.65% 10.19%,
      #5b7c83 0%,
      rgba(91, 124, 131, 0) 100%
    ),
    #484e59;
  box-shadow: 4px 8px 16px rgba(0, 0, 0, 0.45),
    inset -2px -4px 8px rgba(0, 0, 0, 0.25);
  border-radius: 54px;
  border: 6px solid #8a7c58;
  bottom: 2rem;
  right: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.textViewCaseButton {
  background: radial-gradient(
      48.61% 48.61% at 14.81% 8.33%,
      rgba(255, 255, 255, 0.2) 0%,
      rgba(255, 255, 255, 0) 100%
    ),
    radial-gradient(
      104.63% 104.63% at 60.65% 10.19%,
      #5b7c83 0%,
      rgba(91, 124, 131, 0) 100%
    ),
    #484e59;
  height: 48px;
  width: 100%;
  align-items: center;
  justify-content: center;
  color: #dfe4ec;
  font-weight: 600;
  font-family: "Montserrat";
  margin-top: 1.5rem;
  box-shadow: 0px 2px 4px #7d8eac, 0px 8px 16px #a3acb9;
  border-radius: 5px;
  display: none;
}

.viewCaseButtonGlass {
  position: absolute;
  width: 108px;
  height: 108px;
  border-radius: 54px;
  bottom: 2rem;
  right: 2rem;
  background: radial-gradient(
    62.96% 62.96% at 19.44% 7.87%,
    rgba(255, 255, 255, 0.2) 0%,
    rgba(255, 255, 255, 0) 100%
  );
  border: 0;
  cursor: pointer;
}

.viewCaseButton img {
  margin-left: 6px;
}

.sectionCaseStudies ul {
  margin-top: 1.5rem;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 200%;
  opacity: 0.9;
}

.sectionCaseStudies ul li {
  list-style-type: disc;
  list-style-position: inside;
}

.tagContainer {
  display: flex;
  column-gap: 2rem;
  font-family: "Montserrat";
  font-style: italic;
  font-weight: 700;
  font-size: 20px;
  margin-top: 2rem;
}

@keyframes ellipse-spin {
  from {
    transform: translateX(100px) rotate(0deg);
  }
  to {
    transform: translateX(100px) rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  .ellipse {
    animation: ellipse-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

@media screen and (max-width: 1600px) {
  .sectionCaseStudies .caseContainer {
    width: 100%;
  }
}

@media screen and (max-width: 1500px) {
  .buste {
    display: none;
  }

  .heroContainer .identite {
    font-size: 96px;
  }

  .heroContainer .recentWork {
    margin-top: 3rem;
  }

  .heroContainer blockquote {
    margin-top: 3rem;
    width: 50%;
  }
}

@media screen and (max-width: 1200px) {
  .statue,
  .ellipse {
    display: none;
  }

  .buste {
    height: 50%;
    position: absolute;
    left: auto;
    margin: 0;
    right: 0;
    bottom: 10%;
    display: block;
  }

  .heroContainer .text {
    width: 70%;
  }
}

@media screen and (max-width: 1000px) {
  .heroContainer .fonction {
    font-size: 24px;
    margin-top: 64px;
    line-height: 160%;
  }

  .heroContainer .identite {
    font-size: 96px;
    margin-top: 48px;
    margin-left: -5px;
  }

  .heroContainer .text {
    font-size: 1rem;
    width: 60%;
  }

  .heroContainer .recentWork {
    margin-top: 3rem;
  }

  .heroContainer blockquote {
    margin-top: 3rem;
    width: 60%;
  }
}

@media screen and (max-width: 900px) {
  .viewCaseButton,
  .viewCaseButtonGlass {
    display: none;
  }

  .textViewCaseButton {
    display: flex;
  }
}

@media screen and (max-width: 750px) {
  .dropResume {
    width: 160px;
    border-radius: 0 0 20px 20px;
  }
}

@media screen and (max-width: 700px) {
  .sectionHero {
    padding-left: 2rem;
    padding-right: 2rem;
  }

  .heroContainer .fonction {
    font-size: 20px;
  }

  .heroContainer .identite {
    font-size: 72px;
    margin-top: 48px;
    margin-left: -5px;
  }

  .heroContainer blockquote {
    font-size: 14px;
    margin-top: 3rem;
    width: 100%;
  }

  /*.heroContainer .recentWork {
    margin-top: 3rem;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
    justify-content: center;
  }*/

  .buste {
    height: 40%;
    bottom: 30%;
  }

  .optionalWork {
    display: none;
  }

  .tagContainer {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
  }

  .tagContainer div {
    width: 100%;
  }

  .sectionCaseStudies ul {
    display: flex;
    flex-direction: column;
    row-gap: 1.2rem;
  }

  .caseTitle {
    font-family: "Oswald";
    font-weight: 700;
    font-size: 28px;
    line-height: 160%;
  }
}

@media screen and (max-width: 550px) {
  .buste {
    display: none;
  }

  .heroContainer .identite {
    font-size: 48px;
    margin-top: 36px;
  }

  .heroContainer .text {
    width: 100%;
    margin-top: 48px;
  }

  .sectionCaseStudies {
    padding: 0 1.5rem;
  }

  .digit {
    display: none;
  }

  .sectionResume {
    padding: 0;
    max-height: 5rem;
  }
}
